<ol class="post-list">
    <li>
        <article class="post">
            <div class="title">
                {{!-- <a href="" target="_blank">{{}}</a> --}}
                <span>({{machine_id}})</span>
            </div>
            <div class="meta">
                {{id}} point(s) by {{first_name}} on
                {{last_name}}
                |
                {{!-- <a href="/post/{{id}}">{{comments.length}} comment(s)</a> --}}
            </div>
        </article>
    </li>
</ol>